@media screen and (max-width: 1300px) {
    #main-container {
        width: 100%;
    }
    nav {
        width: 95.5%;
    }
    #main-content {
        width: 95.5%;
        margin: 128px auto 0 auto;
    }
}

@media screen and (max-width: 1240px) {
    #detail-container:nth-child(3) {
        padding-bottom: 40px;
    }
    #detail-container:nth-child(3) div:first-child {
        float: none;
    }
    #dayContainer {
        margin-right: 50px;
        margin-top: 10px;
    }
    #monthContainer {
        margin-top: 10px;
    }
}

@media screen and (max-width: 1020px) {
    #detail-container:nth-child(3) {
        padding-bottom: 70px;
    }
    #monthContainer {
        margin-top: 0;
    }
    #dayContainer {
        margin-left: 15px;
        margin-top: 8px;
    }
}

@media screen and (max-height: 800px) {
    #pbt-logo {
        margin-top: 100px;
    }
}

@media screen and (max-height: 650px) {
    #pbt-logo {
        margin-top: 75px;
    }
}

@media screen and (max-width: 720px) {
    nav {
        height: 116px;
    }
    nav a {
        width: 33.33%;
    }
}

/* MAIN MOBILE PORTRAIT MODE QUERY */
@media all and (orientation: portrait) {
    #main-container {
        width: 100%;
    }
    #pbt-logo {
        width: 90%;
        height: auto;
        margin-top: 25px;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    nav {
        height: 50vw;
    }
    nav a {
        width: 50%;
        font-size: 6vw;
        height: 12vw;
        padding-top: 4.5vw;
    }
    #socialmedia-container {
        height: 20vw;
    }
    #socialmedia-container a:nth-child(2){
        margin: 0 10vw 0 10vw;
    }
    #welcome-box {
        height: 45vh;
    }
    #welcome-box h1 {
        font-size: 8vw;
        max-width: 90%;
    }
    #welcome-box p {
        font-size: 3.5vw;
        max-width: 90%;
    }
    .image-button {
        width: 50%;
    }
    .image-button img{
        width: 100%;
    }
    .overlay-black {
        opacity: 0.7;
    }
    #menus-overlay, #bookings-overlay, #findus-overlay, #contact-overlay {
        opacity: 1;
    }
    #slideshowButtons {
        display: none;
    }
    #connect {
        height: 175vh;
    }
    .connect-containers {
        height: 33.3334%;
        width: 100%;
    }
    .connect-containers a{
        font-size: 4vw;
    }
    .connect-containers p, #twitter-feed{
        font-size: 3.5vw;
    }
    .connect-containers h1 {
        font-size: 4vw;
    }
    .connect-containers h2 {
        font-size: 4vw;
    }
    .button-wrapper {
        margin-top: 4vh;
        margin-bottom: 6vh;
    }
    .button-wrapper, .button-size {
        height: 8vw;
    }
    .button-size {
        padding-top: 3.2vw;
    }
    #user-details {
        margin-top: 10vh;
        font-size: 4.5vw;
    }
    #detail-container {
        height: 7vw;
    }
    #detail-container div:nth-child(1) {
        width: 20vw;
    }
    #dayContainer, #monthContainer, #dayContainer select, #monthContainer select {
        height: 3.4vh;
        width: initial;
    }
    #dayContainer {
        padding-right: 4vw;
        margin-right: 8vw;
        margin-left: 6vw;
    }
    #dayContainer select, #monthContainer select {
        font-size: 4.5vw;
    }
}