/* Fonts */
@font-face {
    font-family: montserrat;
    src: url(/media/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(/media/Montserrat-Bold.ttf);
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
    background:
    no-repeat top center url(/media/backgroundTop.jpg),
    no-repeat bottom center url(/media/backgroundBottom.jpg);
    background-color: #000;
}

#main-container {
    height: 100%;
    width: 1240px;
    margin: auto;
}

#pbt-logo {
    width: 280px;
    height: 280px;
    display: block;
    margin: 155px auto 0 auto;
    transition: margin .5s;
}

nav {
    margin: 65px auto 0 auto;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    width: 100%;
    height: 58px;
}

nav a {
    text-decoration: none;
    color: white;
    font-family: montserrat, sans-serif;
    font-size: 18px;
    text-align: center;
    float: left;
    padding-top: 18px;
    width: 16.66%;
    height: 40px;
}

nav a:hover {
    background: rgba(255,255,255, 0.1);
}

#socialmedia-container {
    margin: 65px 0 0 0;
    text-align: center;
    height: 40px;
}

#socialmedia-container a:nth-child(2){
    margin: 0 35px 0 35px;
}

#socialmedia-container img {
    border-radius: 50%;
    height: 100%;
}

#socialmedia-container img:hover {
    background-color: rgba(255,255,255,.1)
}

#main-content {
    margin: 128px 0 0 0;
}

#welcome-box {
    height: 315px;
    background-color: white;
    text-align: center;
}

#welcome-box h1 {
    font-family: montserrat, sans-serif;
    font-size: 40px;
    font-weight: bold;
    padding-top: 68px;
    max-width: 620px;
    margin: auto
}

#welcome-box p {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 18px;
    font-style: italic;
    padding-top: 18px;
    max-width: 620px;
    margin: auto;
}

#image-buttons {
    overflow: auto;
    margin-bottom: -5px;
}

#image-buttons img {
    float: left;
    cursor: pointer;
}

.image-button {
    width: 25%;
    height: auto;
    display: inline-block;
    position: relative;
}

.image-button img {
    width: 100%;
    height: auto;
}

.overlay-black {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition: opacity .25s;
}

#bookings-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(/media/bookatable.png);
    background-size: 100%;
    opacity: 0;
    transition: opacity .25s;
}

#menus-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(/media/seeourmenus.png);
    background-size: 100%;
    opacity: 0;
    transition: opacity .25s;
}

#findus-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(/media/findus.png);
    background-size: 100%;
    opacity: 0;
    transition: opacity .25s;
}

#contact-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(/media/contact.png);
    background-size: 100%;
    opacity: 0;
    transition: opacity .25s;
}

.image-button:hover .overlay-black {
    opacity: .75;
}

.image-button:hover #menus-overlay, .image-button:hover #bookings-overlay, .image-button:hover #findus-overlay, .image-button:hover #contact-overlay {
    opacity: 1;
}


#slideshowImages {
    width: 100%;
    cursor: pointer;
}

#slideshowButtons {
    margin-top: 5px;
    text-align: center;
}

#slideshowButtons img {
    margin: 0 5px 0 5px;
}

#slideshowButtons img {
    -moz-transition: transform .25s;
    -o-transition: transform .25s;
    -webkit-transition: transform .25s;
}

#slideshowButtons img:hover {
    transform: rotate(315deg);
    cursor: pointer;
}

#connect {
    width: 100%;
    height: 444px;
    clear: both;
}

.connect-containers {
    width: 32%;
    height: 100%;
    float: left;
    margin: 52px auto 0 auto;
}

.connect-containers h1 {
    font-family: montserrat, sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

.connect-containers:nth-child(1) {
    margin-right: 1%;
}

.connect-containers:nth-child(2) {
    margin-left: 1%;
    margin-right: 1%;
}

.connect-containers:nth-child(3) {
    margin-left: 1%;
}

.connect-containers h2 {
    color: white;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 20px;
    font-style: italic;
    text-align: center;
}

#set-float {
    float: left;
    margin-top: 5px;
}


.connect-containers a {
    color: white;
    text-decoration: none;
    font-family: montserrat, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.connect-containers p {
    color: white;
    margin: 50px 10% 0 10%;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-style: italic;
    font-size: 16px
}

#twitter-feed {
    margin: 0 10% 0 10%;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-style: italic;
    font-size: 16px;
    text-align: right;
}

.button-wrapper {
    margin: auto;
    width: 55%;
    height: 30px;
}

.button-size {
    border: 1px solid white;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    padding-top: 8px;
    font-style: normal;
}

.button-size:hover {
    background: rgba(255,255,255,.1);
}

#instagram-images {
    margin-top: 50px;
}

#instagram-images img {
    width: 47.5%;
}

#instagram-images img:nth-child(2){
    float: right;
}

#user-details {
    width: 80%;
    margin: 142px auto 0 auto;
    color: white;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-style: italic;
    font-size: 20px;
}

#detail-container {
    border: 1px solid white;
    height: 35px;
    width: 100%;
    margin-bottom: 12px;
}

#detail-container div:first-child {
    margin: 3px 0 0 15px;
}

#detail-container div:nth-child(1) {
    float: left;
    width: 90px;
    border-right: 1px solid white
}


.signupForms {
    float: right;
}

.signupInput {
    border: none;
    background-color: transparent;
    font-family: Times;
    font-style: italic;
    font-size: 13pt;
    color: white;
    padding-right: 40px;
}

#dayContainer select {
    background: transparent;
    width: 68px;
    font-family: Times;
    font-style: italic;
    font-size: 14pt;
    color: white;
    height: 25px;
    border: none;
    -webkit-appearance: none;
}

#dayContainer {
    float: left;
    width: 50px;
    height: 25px;
    overflow: hidden;
    border: none;
    margin-left: 20px;
    margin-top: 2px;
    padding-bottom: 6px;
    background: url(/media/arrowButton.png) no-repeat right transparent;
}

#monthContainer select {
    background: transparent;
    width: 118px;
    color: white;
    font-family: Times;
    font-style: italic;
    font-size: 14pt;
    height: 25px;
    border: none;
    -webkit-appearance: none;
}

#monthContainer {
    float: left;
    width: 100px;
    height: 25px;
    overflow: hidden;
    border: none;
    margin-left: 15px;
    margin-top: 2px;
    padding-bottom: 6px;
    background: url(/media/arrowButton.png) no-repeat right transparent;
}

#footer {
    margin-top: 50px;
    border-top: 3px double white;
}

ul {
    font-family: montserrat;
    font-size: 15px;
    width: 90%;
    margin: 25px auto 5px auto;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
}

.linkDividers {
    border-right: 2px solid white;
}

.socialMini {
    padding-right: 0;
}

.socialMini:hover {
    background: none;
}

.underlined:hover {
    text-decoration: underline;
}

#footerSignature {
    display: block;
    position: relative;
    margin: 30px auto 15px auto;
}