<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="UTF-8">
    <title>PBT Propeller</title>
    <script src="js/angular.min.js"></script>
    <script src="js/slideshow.js"></script>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/mediaqueries.css">
</head>
<body data-ng-app="angular">
    <div id=main-container>
        <div id=navigation>
            <img id=pbt-logo src="/media/logo.png" alt="PBT Propeller Logo.">
            <nav>
                <a href="#about">ABOUT</a>
                <a href="#menus">MENUS</a>
                <a href="#locations">LOCATIONS</a>
                <a href="#bookings">BOOKINGS</a>
                <a href="#gallery">GALLERY</a>
                <a href="#contact">CONTACT</a>
            </nav>
            <div id=socialmedia-container>
                <a href="https://www.facebook.com/"><img src="/media/facebook.png" alt="Facebook Link."></a>
                <a href="https://www.twitter.com/"><img src="/media/twitter.png" alt="Twitter Link."></a>
                <a href="https://www.instagram.com/"><img src="/media/instagram.png" alt="Instagram Link."></a>
            </div>
        </div>
        <div id=main-content>
            <div id=welcome-box>
                <h1>WELCOME TO PBT, PROPELLER!</h1>
                <p>Labore ipsum accusamus non earum. Maiores consequatur debitis sunt soluta pariatur illum quos. Possimus dolor dolorem aut sit nihil culpa odit voluptatibus. Eius eos quod voluptatibus dolores laborum.</p>
            </div>
            <div id=image-buttons>
                <div class=image-button>
                	<a href="#bookings">
                    <img src="/media/button1_compressed.jpg" alt="Bookings Button.">
                    <div class=overlay-black></div>
                    <div id=bookings-overlay></div>
                    </a>
                </div
                ><div class=image-button>
                	<a href="#bookings">
                    <img src="/media/button2_compressed.jpg" alt="Menus Button.">
                    <div class=overlay-black></div>
                    <div id=menus-overlay></div>
                    </a>
                </div
                ><div class=image-button>
                	<a href="#bookings">
                    <img src="/media/button3_compressed.jpg" alt="Find Us Button.">
                    <div class=overlay-black></div>
                    <div id=findus-overlay></div>
                    </a>
                </div
                ><div class=image-button>
                	<a href="#bookings">
                    <img src="/media/button4_compressed.jpg" alt="Contact Button.">
                    <div class=overlay-black></div>
                    <div id=contact-overlay></div>
                    </a>
                </div>
            </div>
            <div id=slideshow data-ng-controller="slidesController">
				<img id=slideshowImages src="/media/slideshow1.jpg" data-ng-click="slideshow($event)" data-ng-src={{image}} alt="Slideshow Images.">
				<div id=slideshowButtons>
					<img src="/media/slideshowButton.jpg" alt="Slideshow Button" data-ng-click="image1($event)">
					<img src="/media/slideshowButton.jpg" alt="Slideshow Button" data-ng-click="image2($event)">
					<img src="/media/slideshowButton.jpg" alt="Slideshow Button" data-ng-click="image3($event)">
					<img src="/media/slideshowButton.jpg" alt="Slideshow Button" data-ng-click="image4($event)">
					<img src="/media/slideshowButton.jpg" alt="Slideshow Button" data-ng-click="image5($event)">
					<img src="/media/slideshowButton.jpg" alt="Slideshow Button" data-ng-click="image6($event)">
				</div>
			</div>
			<div id=connect>
				<div class=connect-containers>
					<h1>TWITTER</h1>
					<h2>@PBT_propeller</h2>
					<div class=button-wrapper><a href="https://wwww.twitter.com/"><div class=button-size>FOLLOW</div></a></div>
					<p>Soluta velit quasi corrupti eum. Et perferendis corporis qui id dolorum veniam iure. Et repellendus facilis consequatur et tempora dolor. Nihil iure quo impedit distinctio. Voluptas qui fugiat vel accusantium expedita quod.</p>
					<p id=twitter-feed>an hour ago</p>
				</div
				><div class=connect-containers>
					<h1>INSTAGRAM</h1>
					<h2>PBT_propeller</h2>
					<div class=button-wrapper><a href="https://wwww.instagram.com/"><div class=button-size>FOLLOW</div></a></div>
					<div id=instagram-images>
						<img src="/media/instagram1.jpg" alt="Instagram Image 1. Salad.">
						<img src="/media/instagram2.jpg" alt="Instagram Image 2. Oranges.">
					</div>
				</div
				><div class=connect-containers>
					<h1>SIGN UP</h1>
					<h2 id=set-float>Subscribe to our newsletter and never miss out on exclusive offers!</h2>
					<div id=user-details>
						<div id=detail-container>
							<div>name</div>
							<form class=signupForms>
								<input class=signupInput type="text" name="name">
							</form>
						</div>
						<div id=detail-container>
							<div>email</div>
							<form class=signupForms>
								<input class=signupInput type="text" name="email">
							</form>
						</div>
						<div id=detail-container>
							<div>birthday</div>
							<div id=dayContainer>
								<select>
									 <option value="dd" disabled selected hidden>dd</option>
									 <option value="1">1</option>
									 <option value="2">2</option>
									 <option value="3">3</option>
									 <option value="4">4</option>
									 <option value="5">5</option>
									 <option value="6">6</option>
									 <option value="7">7</option>
									 <option value="8">8</option>
									 <option value="9">9</option>
									 <option value="10">10</option>
									 <option value="11">11</option>
									 <option value="12">12</option>
									 <option value="13">13</option>
									 <option value="14">14</option>
									 <option value="15">15</option>
									 <option value="16">16</option>
									 <option value="17">17</option>
									 <option value="18">18</option>
									 <option value="19">19</option>
									 <option value="20">20</option>
									 <option value="21">21</option>
									 <option value="22">22</option>
									 <option value="23">23</option>
									 <option value="24">24</option>
									 <option value="25">25</option>
									 <option value="26">26</option>
									 <option value="27">27</option>
									 <option value="28">28</option>
									 <option value="29">29</option>
									 <option value="30">30</option>
									 <option value="31">31</option>
								</select>
							</div>
							<div id=monthContainer>
								<select>
									<option value="mm" disabled selected hidden>mm</option>
									<option value="January">January</option>
									<option value="February">February</option>
									<option value="March">March</option>
									<option value="April">April</option>
									<option value="May">May</option>
									<option value="June">June</option>
									<option value="Juli">Juli</option>
									<option value="August">August</option>
									<option value="September">September</option>
									<option value="October">October</option>
									<option value="November">November</option>
									<option value="December">December</option>
							</select>
							</div>
						</div>
					</div>
					<div class=button-wrapper><a href="#SIGNUP"><div class=button-size>SUBMIT</div></a></div>
				</div>
			</div>
			<div id=footer>
				<ul>
					<li><a class="linkDividers" href="#PBTPropeller"><div class="underlined">PBT Propeller</div></a></li>
					<li><a class="linkDividers" href="#1-3WindsorCourt"><div class="underlined">1-3 Windsor Court</div></a></li>
					<li><a class="linkDividers" href="#Rugby"><div class="underlined">Rugby</div></a></li>
					<li><a class="linkDividers" href="#Warwickshire"><div class="underlined">Warwickshire</div></a></li>
					<li><a class="linkDividers" href="#CV213BH"><div class="underlined">CV21 3BH</div></a></li>
					<li><a class="linkDividers" href="#pbt@propcom.co.uk"><div class="underlined">pbt@propcom.co.uk</div></a></li>
					<li><a class="linkDividers" href="#01788566270"><div class="underlined">01788 566270</div></a></li>
					<li><a class="socialMini" href="#facebook"><img src="/media/facebook_small.png" alt="Facebook Mini Icon" style="width:15px"></a></li>
					<li><a class="socialMini" href="#twitter"><img src="/media/twitter_small.png" alt="Facebook Mini Icon" style="width:15px"></a></li>
					<li><a class="socialMini" href="#instagram"><img src="/media/instagram_small.png" alt="Facebook Mini Icon" style="width:15px"></a></li>
				</ul>
				<a href="#top"><img id=footerSignature src="/media/sig.png" alt="Footer Signature"></a>
			</div>
        </div>
    </div>
</body>
</html>